{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    {% for categorie in arrayCategorie %}
        <p>{{categorie.name}}</p>
    {% endfor %}
{% endblock %}
