{% extends 'base.html.twig' %}

{% block title %}Téléchargement de photo{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Ajouter une photo</h1>
    
    {{ form_start(formPhoto), {'attr':{'enctype':'multipart/form-data'}} }}
        {{form_row(formPhoto.image)}}
     <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
    {{ form_end(formPhoto) }}
    <hr>

    <h2>Photos existantes</h2>
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-3 mb-3">
                <img src="{{ asset('uploads/photos/' ~ photo.image) }}" class="img-fluid">
            </div>
        {%else  %}
            <p>Aucune photo</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
