{% extends 'base.html.twig' %}

{% block body %}

voici la liste:
{#{{dump(attractions)}}#}
<ul>
{% for attraction in attractions %}
    <li>{{attraction.nom}}</li>
    <li>{{attraction.categories}}</li>

{% endfor %}
</ul>
{% endblock %}