{% extends 'base.html.twig' %}

{% block title %}Hello AjaxContollerController!
{% endblock %}

{% block body %}
	{# dans cette vue on doit avoir le formulaire et le traitement AJAX #}
	<form id="form_nom">
		<input type="text" name="nom" id="txt_nom">
		<input type="submit" value="Envoyer">
	</form>
    <div id="contenu">Ici le contenu</div>
	<script>
		const txtNom = document.querySelector('#txt_nom');
                txtNom.addEventListener('input', function (event) {
                const valeur = event.target.value;

                const form_nom = document.querySelector('#form_nom');
                //on cree un objet FormData
                const formData = new FormData(form_nom);
                
                // on a la valeur et on appele le server
                axios({
                    
                    url: '/ajax/contoller/form/independant/traitement',
                    method: 'POST',
                    data: formData,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    const divContenu = document.querySelector('#contenu');
                    divContenu.innerHTML = response.data.message;
                });

                // console.log(valeur)
        })
	</script>


{% endblock %}
